<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회 페이지</title>
    <!-- 부트스트랩 CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome 아이콘 라이브러리 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .post-title {
            font-size: 24px;
            text-align: center;
            margin-top: 30px;
        }
        .user-info {
            font-size: 18px;
            text-align: left;
            margin-top: 20px;
        }
        .post-content {
            font-size: 16px;
            text-align: center;
            margin-top: 20px;
        }
        .interactions {
            text-align: center;
            margin-top: 20px;
        }
        .comments {
            text-align: center;
            margin-top: 20px;
        }
        .comment-box {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- 게시글 제목 -->
        <div class="row">
            <div class="col post-title">
                <%= data[0].post_title %>
            </div>
        </div>
        <!-- 유저 정보 -->
        <div class="row user-info">
            <div class="col">
                <%= data[0].user_id.user_name %>
            </div>
        </div>
        <!-- 게시글 내용 -->
        <div class="row post-content">
            <div class="col">
                <%= data[0].post_content %>
            </div>
        </div>
        <!-- 인터랙션 (좋아요, 댓글 수) -->
        <div class="row interactions">
            <div class="col">
                <i class="fas fa-thumbs-up"></i> 좋아요 수: 10
            </div>
            <div class="col">
                <i class="fas fa-comments"></i> 댓글 수: 5
            </div>
        </div>
        <!-- 댓글 작성 -->
        <div class="row comment-box">
            <div class="col">
                <textarea class="form-control" placeholder="댓글을 작성하세요"></textarea>
                <button type="submit" class="btn btn-primary mt-2">댓글 작성</button>
            </div>
        </div>
        <!-- 댓글 목록 -->
        <div class="row comments">
            <div class="col">
                <ul class="list-group">
                    <% for(let i=0; i<data2.length; i++) { %>
                    
                        <li class="list-group-item"><%= data2[i].comment_content %></li>
                    
                    <%}%>
                </ul>
            </div>
        </div>
    </div>

    <!-- 부트스트랩 JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>